.carousel {
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 50px;
}
.carousel__img  {
  object-fit: cover;
  height: 800px;
}
@media (max-width: 480px) {
  .carousel__img  {
    object-fit: cover;
    height: 400px;
  }
}