.autores {
  display: flex;
  justify-content: center;
  align-items: center;
}
.autores__box {
  width: 350px;
  background-color: brown;
  margin: 30px;
  padding: 15px;
  border-radius: 10px;
}
.autores__img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.autores__p {
  color: white;
}
@media (max-width: 1024px) {
  .autores__img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 768px) {
  .autores__img {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 425px) {
  .autores {
    display: block;
  }
  .autores__box {
    width: 300px;
    margin: 30px;
    margin-left: 50px;
  }
}
@media (max-width: 375px) {
  .autores__box {
    margin: 25px;
  }
}
@media (max-width: 320px) {
  .autores__box {
    width: 240px;
  }
}