.form {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: brown;
  margin-top: 15px;
  margin-bottom: 30px;
}
.form__div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__div_2 {
  margin-top: 15px;
  display: block;
  justify-content: center;
  align-items: center;
}
.form__label {
  margin-left: 15px;
  margin-top: 15px;
}
.form__input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  color: brown;
}
.form__p {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 5px;
}
.form__textarea {
  width: 500px;
  height: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  color: brown;
  padding: 5px;
  resize: none;
}
.form__button {
  background-color: brown;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  width: 100px;
  height: 50px;
  margin-bottom: 15px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 15px;
  transition: 0.2s;
}
.form__button:hover {
  animation: ease-in-out;
  color: brown;
  background-color: white;
}
@media (max-width: 425px) {
  .form__div {
    display: block;
  }
  .form__input {
    width: 250px;
  }
  .form__textarea {
    width: 280px;
  }
}