.navbar {
  z-index: 99;
  background-color: brown;
  position: fixed;
  width: 100%;
}
.navbar-brand {
  color: white;
  font-weight: bolder;
}
.navbar-brand:hover {
  color: white;
}
.nav-item {
  text-align: center;
  margin-top: 15px;
}
.nav-link {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
  transition: 0.2s;
}
.nav-link:hover {
  background-color: white;
  border-radius: 5px;
  color: brown;
  animation: ease-in-out;
}
.active {
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  color: brown;
}
.navbar-toggler {
  background-color: white;
}