body {
	background-color: white;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
/* TITLES */
.title {
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	text-decoration: underline brown;
	margin-top: 5px;
}
.title span {
	color: brown;
}
/* END TITLE */
/* SECTION */
section {
	padding-top: 80px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
/* END SECTION */