@import './../misc/mixins';
@import './../misc/variables';

.carousel {
  @include carousel_mixin (1, 20px, 50px);
}

.carousel__img  {
  @include carousel_img_mixin (cover, 800px);
}

@media (max-width: 480px) {
  .carousel__img  {
    object-fit: cover;
    height: 600px;
  }
}

.parrafo {
  font-size: $fontSize1;
}

@media (max-width: 767px) {
  .parrafo {
    font-size: $fontSize2;
  }
}

@media (max-width: 450px) {
  .parrafo {
    font-size: $fontSize3;
  }
}